<div class="container">
  <div class="card">
    <div class="card-header">
      <h2 class="h1">{{celebrity.name}}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <img src="{{celebrity.image}}" class="card-img-top">
        </div>
        <div class="col-8">
        <h5>Occupation:</h5>
        <p>{{celebrity.occupation}}</p>
        <blockquote class="blockquote mb-0">
          <h5>Cath Phrase:</h5>
          <p>{{celebrity.catchPhrase}}</p>
        </blockquote>
        </div>
      </div><!--row-->

      <hr/>
      <h5>Movies:</h5>
        <div class="row">
          <div class="col-6">
            <img src="{{celebrity.movie.[0].pictureUrl}}"/>
          </div><!--col-6-->
          <div class="col-6">
            <h5>Title:</h5>
            <p>{{celebrity.movie.[0].title}}</p>

            <h5>Genre:</h5>
            <p>{{celebrity.movie.[0].genre}}</p>

            <h5>Plot:</h5>
            <p>{{celebrity.movie.[0].plot}}</p>

            <h5>Rate:</h5>
            <p>{{celebrity.movie.[0].rate}}</p>
          </div><!--col-6-->
        </div>

    </div><!--card-body-->

  <div class="card-footer text-muted">
    <a href="/celebrities" class="btn btn-primary">Back</a>

    <a href="/celebrities/{{celebrity.id}}/edit" class="btn btn-secondary">Edit</a>

    <form class="d-inline" action="{{celebrity.id}}/delete" method="POST">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>

  </div><!--card-->
</div>