<div class="container">
  <div class="card">
    <div class="card-body">

      {{#if celebrity.isNew}}
        <h5 class="card-title">Create your artist</h5>
        <hr/>
        <form action="/create" method="POST">
      {{else}}
        <h5 class="card-title">Edit your artist</h5>
        <hr/>
        <form action="/celebrities/{{celebrity.id}}/edit" method="POST">
      {{/if}}

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" id="name" value="{{celebrity.name}}">
        </div> 

        <div class="form-group">
          <label for="occupation">Occupation</label>
          <input type="text" name="occupation" class="form-control" id="occupation" value="{{celebrity.occupation}}">
        </div>

        <div class="form-group">
          <label for="catchPhrase">Catch Phrase</label>
          <textarea class="form-control" id="catchPhrase" name="catchPhrase" rows="5">{{celebrity.catchPhrase}}</textarea>
        </div>

        <div class="form-group">
          <label for="image">Image url</label>
          <input type="text" name="image" class="form-control" id="image" value="{{celebrity.image}}">
        </div>

        <hr/>
        <h5>Movies:</h5>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control" id="title" value="{{celebrity.movie.[0].title}}">
        </div>

        <div class="form-group">
          <label for="genre">Genre</label>
          <input type="text" name="genre" class="form-control" id="genre" value="{{celebrity.movie.[0].genre}}">
        </div>

        <div class="form-group">
          <label for="plot">Plot</label>
          <textarea class="form-control" id="plot" name="plot" rows="8">{{celebrity.movie.[0].plot}}</textarea>
        </div>

        <div class="form-group">
          <label for="rate">Rate</label>
          <input type="number" name="rate" class="form-control" id="rate" value="{{celebrity.movie.[0].rate}}">
        </div>

        <div class="form-group">
          <label for="pictureUrl">Movie poster image ulr</label>
          <input type="text" name="pictureUrl" class="form-control" id="pictureUrl" value="{{celebrity.movie.[0].pictureUrl}}">
        </div>

        <a href="/celebrities/{{celebrity.id}}" class="btn btn-primary float-left">Back</a>
        <button type="submit" class="btn btn-success float-right">Submit</button>
      </form>
    </div>
  </div>
</div>