{{#if celebrity.isNew}}
  <h3>Add celebrity</h3>
  <form action="/celebrities/add" method="POST">
{{else}}
  <h3>Edit celebrity</h3>
  <form action="/celebrities/{{this.id}}/edit" method="POST">
{{/if}}

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" class="form-control" value="{{this.name}}">
  </div>

  <div class="form-group">
    <label for="occupation">Occupation:</label>
    <input type="text" id="occupation" name="occupation" class="form-control" value="{{this.occupation}}">
  </div>

  <div class="form-group">
    <label for="catchphrase">Catch phrase:</label>
    <textarea class="form-control" id="catchphrase" name="catchPhrase" rows="3">{{this.catchPhrase}}</textarea>
  </div>

{{#if celebrity.isNew}}
  <button type="submit" class="btn btn-success">Create</button>
{{else}}
  <button type="submit" class="btn btn-success">Modify</button>
{{/if}}

</form>